  ---
  import Layout from "../layouts/Layout.astro";
  import Card from "../components/Card/index.astro";
  import IntroCard from "../components/IntroCard.astro";
  import ProjectsCard from "../components/ProjectsCard.astro";
  import TimeZone from "../components/TimeZoneCard.astro";
  import AboutMe from "../components/AboutMe.astro";
  import Now from "../components/Now.astro";
  import Globe from "../components/Globe";
  import { getCollection } from "astro:content";
  import { formatDate } from "../lib/helpers";

  const posts = (await getCollection("blog"))?.sort(
    (blogEntryA, blogEntryB) =>
      (blogEntryB.data.pubDate || new Date()).getTime() -
      (blogEntryA.data.pubDate || new Date()).getTime()
  );
  ---

  ---

  <script>
    import { stagger, animate, type AnimationSequence } from "motion";
    import { loaderAnimation } from "../lib/constants";
    const cards = document.querySelectorAll(".card");

    const sequence = [
      loaderAnimation,
      [
        cards,
        { y: ["40%", "0%"], opacity: [0, 1] },
        {
          type: "spring",
          at: "-0.1",
          delay: stagger(0.3),
        },
      ],
    ];

    animate(sequence as AnimationSequence);
  </script>
  <script is:inline>
    document.body.classList.add('no-scroll');
  </script>

  <Layout
    description="Hi, I’m Sayeem Mahfuz, a CS senior shaping data systems that scale. My work bridges analytics and engineering, focusing on building reliable, cloud-based pipelines on AWS and Databricks that turn raw data into clear, actionable insight."
    title="Sayeem Mahfuz :P"
  >
    <main
      class="text-white m-auto p-2 grid gap-2 max-w-6xl relative w-full sm:p-4 sm:gap-2 md:grid-cols-2 md:gap-3 md:p-6 lg:h-screen lg:grid-rows-8 lg:grid-cols-4 lg:gap-4 lg:py-4"
      style="overflow: hidden;"
    >
      <IntroCard />
      <AboutMe />
      <ProjectsCard />
      <Card
        title="Time zone"
        colSpan="md:col-span-2"
        rowSpan="md:row-span-2"
      >
        <TimeZone label="Toronto" />
      </Card>

      <Now />
      <Card
        colorText="text-neutral-900"
        colSpan="md:col-span-1"
        href="travel"
        rowSpan="md:row-span-2"
        title="Countries I've visited"
      >
        <div class="h-full w-full absolute inset-0 -z-10">
          <Globe client:load scale={280} />
        </div>
      </Card>
      <Card
        colSpan="md:col-span-1"
        href="/blog"
        rowSpan="md:row-span-2"
        title="Blog"
      >
        <div class="flex flex-col gap-1">
          {
            posts?.slice(0, 3).map((post) => (
              // <a
              //   class="text-sm md:text-base decoration-none flex justify-between"
              //   href={`/blog/${post.id}`}
              // >
              <div class="list-none w-full text-neutral-100 hover:text-neutral-400 ease-in-out transition-colors border-b-neutral-400 border-dashed border-b-1 my-0">
                <p class="inline-block whitespace-nowrap text-xs">
                  {post.data.title}
                </p>
                {post.data.pubDate && (
                  <time
                    class="text-right tabular-nums text-xs"
                    data-date={post.data.pubDate.toISOString()}
                    datetime={post.data.pubDate.toISOString()}
                  >
                    {formatDate(post.data.pubDate)}
                  </time>
                )}
              </div>
              // </a>
            ))
          }
        </div>
      </Card>
    </main>
  </Layout>
